Body {
  margin: 0;
  /*text-align: center; /* use to center text and inline items*/


}
H1 {
	size: 10%;
	margin:0 auto; /*use to center a block item that has a width identified*/
}
div{
  margin: 0;
  text-align: center;

}
.postion{
  position: relative;
  Left: 200px;
  bottom: 480px;

}
  .container {
    /*position: relative;*/
    width: 500px;
    height: 400px;
    background-color: beige;

  }
  .divs{
    width: 150px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    bottom: 100px;
  }

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .d1
{
  width: 100px;
  height: 100px;
  background-color: blue;
   position: relative;
  top: 100px;
}
.d2
{
  width: 100px;
  height: 100px;
  background-color: green;
  position: relative;

  Left: 100px;
}
.d3
{
  width: 100px;
  height: 100px;
  background-color: beige;
  position: relative;
  Left: 200px;
  bottom: 100px;
}
.d4
{
width: 100px;
height: 100px;
background-color: pink;
 position: relative;
bottom: 100px;
}
.d5
{
width: 100px;
height: 100px;
background-color: Gray;
position: relative;
bottom: 200px;
Left: 100px;
}
.d6
{
width: 100px;
height: 100px;
background-color: White;
position: relative;
Left: 200px;
bottom: 300px;
}
.d7
{
width: 100px;
height: 100px;
background-color:  Lightblue;
 position: relative;
bottom: 300px;
}
.d8
{
width: 100px;
height: 100px;
background-color: Yellow;
position: relative;
bottom: 400px;
Left: 100px;
}
.d9
{
width: 100px;
height: 100px;
background-color: Orange;
position: relative;
Left: 200px;
bottom: 500px;
}
